// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;


// COLORS
// __________________________________________________________

$white-pale:#f9f9f9;
$black-dark:#1D1D1D;
$blue:#008BCA;
$blue-light:#3EB5CB;
$blue-dark:#004173;
$purple:#753D8E;
